.container {
  margin-left: 107px;
  z-index: 2;
  position: relative;
}

.mainTextBlock {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #FFFFFF;
  max-width: 50%;
  z-index: 2;
}

.textBlock {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 128.19%;

  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #FFFFFF;
  z-index: auto;
  max-width: 50%;
}

.connectTypeBlock {
  display: flex;

  pre {
    margin-right: 75px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 29px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: #FFFFFF;
    display: flex;
  }
}

.mainImage {
  position: absolute;
  width: 70%;
  z-index: -1;
  top: 0;
  right: 0;
}