$color: #958223;

* {
  margin: 0;
  box-sizing: border-box;
}

#app {
  min-height: 100vh;
}

body {
  background-color: $color;
}

.container {
  background-color: $color;
  width: 100%;
  height: 100%;
}

.sideBlock {
  width: 200px;
  height: calc(100% - 100px);
  position: fixed;
  right: 0;
  background-color: $color;

  .AddPlayersForm {
    text-align: right;
    position: absolute;
    top: 310px;
    right: 1px;
    display: flex;
    flex-direction: column;
    width: 100%;

    input {
      height: 35px;
      border-radius: 5px;
      margin: 3px;
    }

    button {
      height: 35px;
      border-radius: 5px;
      margin: 3px;
    }
  }
}

.restartButtons {
  text-align: right;

  margin-top: 315px;

  button {
    display: inline-block;
    height: 35px;
    width: 80%;
    margin: 3px 5px;
  }

}

.blockButtonContainer {

  text-align: right;

  img {
    width: 135px;
    margin: 5px;
  }

  button {
    display: inline-block;
    height: 35px;
    width: 80%;
    margin: 3px 5px;
  }

  .cardsCount {
    margin: auto;
  }
}

.gameField {
  width: calc(100% - 200px);
  height: calc(100% - 100px);
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  background-color: $color;

  .winnerTable {
    text-align: center;
    width: 45%;
    margin: auto;
    background-color: rgba(185, 252, 0, 0.83);
    border-radius: 5px;

    h2 {
      margin: 5px;
    }
  }
}

.playerTable {
  margin: 10px;
  padding: 15px;
  width: 100%;
  display: inline-block;
  background-color: rgba(115, 100, 27, 0.83);
  border-radius: 5px;

  span {
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
  }

  .winnerCardsContainer {
    height: 100%;
  }


}

.footer {
  bottom: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100px;
  background-color: $color;
  text-align: center;
}

.card {
  height: 150px;
  width: 100px;
  display: inline-block;
  position: relative;
  background-color: aliceblue;
  border-radius: 5px;
  margin: 3px;

  img {
    width: 35%;
    padding: 3px;
  }

  .bottomImage {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .bottomName {
    position: absolute;
    bottom: 0;
    right: 35px;
  }
}

.cardLittle {
  height: 70px;
  width: 50px;
  font-size: small;
  display: inline-block;
  position: relative;
  background-color: aliceblue;
  border-radius: 5px;
  margin: 3px;

  img {
    width: 35%;
    padding: 3px;
  }

  .bottomImage {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .bottomName {
    position: absolute;
    bottom: 0;
    right: 15px;
  }
}

.playerListItem {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin: 3px;
  background-color: #A5D6A7;
  width: 191px;

  button.deletePlayerButton {
    height: 25px;
    width: 25px;
  }

  div {
    padding: 3px;
    height: 25px;
    border-radius: 5px;
    margin: 3px;
  }
}

.findGamesBlock {
  position: absolute;
  top: 550px;
  right: 1px;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;

  button {
    height: 35px;
    border-radius: 5px;
    margin: 3px;
  }
}

.listHistoryGames {
  width: 98%;
  height: 97%;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;

  border: 3px solid darkred;
  border-radius: 5px;
  margin: 1%;
  background-color: #3C4F65;
  z-index: 2;

  overflow-y: scroll;
  scroll-behavior: smooth;

  .listHistoryItem {
    width: 380px;
    height: 270px;
    border: 3px solid rgba(139, 0, 0, 0.56);
    margin: 5px auto;
    background-color: #bdd4e7;
    display: flex;
    flex-wrap: wrap;

    .winner {
      border: 5px solid #834C69;
      height: 45%;
      margin: 3px;
      background-color: #458171;
      border-radius: 5px;

    }

    .player {
      margin: 3px;
      background-color: #458171;
      height: 45%;
      border-radius: 5px;
    }

    .playerName {
      color: orange;
    }
  }
}

@media screen and(min-width: 1150px) {
  .playerTable {
    width: 45%;
    height: 45%;
  }
}

:root {
  --main-color: #111;
  --loader-color: #4CAF50;
  --back-color: #A5D6A7;
  --time: 3s;
  --size: 6px;
}

.loader {
  background-color: var(--main-color);
  width: 100%;
  height: 3px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  z-index: 100000;
}

.loader__element {
  height: var(--size);
  width: 100%;
  background: var(--back-color);

}

.loader__element:before {
  content: '';
  display: block;
  background-color: var(--loader-color);
  height: var(--size);
  width: 0;
  animation: getWidth var(--time) ease-in infinite;
}

@keyframes getWidth {
  100% {
    width: 100%;
  }
}