.container {
  margin-top: 36px;
  width: 100%;
  height: 368px;
  background: black;
  position: relative;
  padding-top: 29px;

  .primary {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 128.19%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFC20A;
    margin-bottom: 18px;
  }

  .normal {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 128.19%;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 22px;
  }

  .sectionContainer {
    display: flex;

    .section2 {
      margin-left: 113px;
      display: flex;
      flex-direction: column;
    }

    .section3 {
      margin-left: 89px;
      display: flex;
      flex-direction: column;
    }

    .socialMedia {
      margin: 0 120px auto auto;
    }
  }

  .rights {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 19px;
    text-transform: capitalize;
    color: #F9F9F9;
    margin-top: 120px;
    text-align: center;
  }
}

