.mainContainer {
  margin:135px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.container {
  margin: 41px auto;
  display: flex;
}

.featuredBy{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 128.19%;
  letter-spacing: 0.1em;
  text-transform: capitalize;

  color: #FFC20A;
}

.mobileSlider{
  display: none;
}

@media (max-width: 1000px) {
  .container{
    display: none;
  }

  .mobileSlider{
    display: flex;
  }
}
