html,
body {
    padding: 0;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #232946;
    font-size: 100%;
    max-width: 1440px;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.swiper-button-prev {
    width: auto;
    border:none;
    background-color: rgba(255, 255, 255, 0);
    position: static;
    margin-top: -1px;
}

.swiper-button-prev::before {
    content: '';
    border-style: solid;
    border-width: 9px 18px 9px 0;
    border-color: transparent #ffdd00 transparent transparent;
}

.swiper-button-prev::after {
    bottom: 7px;
    left: 15px;
    content: '';
    width: 35px;
    height: 5px;
    background-color: #ffdd00;
}

.swiper-button-next {
    width: auto;
    border:none;
    background-color: rgba(255, 255, 255, 0);
    position: static;
    margin-top: -1px;
}

.swiper-button-next::before {
    bottom: 7px;
    left: 15px;
    content: '';
    width: 35px;
    height: 5px;
    background-color: #ffdd00;
}

.swiper-button-next::after {
    bottom: 0;
    left: 0;
    content: '';
    border-style: solid;
    border-width: 9px 0 9px 18px;
    border-color: transparent transparent transparent #ffdd00
}




@media (max-width: 1500px) {
    html {
        font-size: 95%;
        /*letter-spacing: -10px ;*/
    }
}

@media (max-width: 1150px) {
    html {
        font-size: 80%;
    }
}

@media (max-width: 850px) {
    html {
        font-size: 70%;
    }
}

@font-face {
    font-family: "Montserrat";
    src: url("../public/fonts/Montserrat-SemiBold.ttf") format("ttf")
}